.container {
  position: relative;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include container-breakpoint;
}

.row {
  @include make-row();

  &--gutter {
    margin-right: -15px;
    margin-left: -15px;

    & [class*="col"] {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &--center {
    justify-content: center;
  }

  &--center-align {
    align-items: center;
    justify-content: center;
  }

  &--pb30 {
    padding-bottom: 30px;
  }
}

.col {
  @include make-col(12);

  @for $i from 1 through 12 {
    &-#{$i} {
      @include make-col($i);
    }
  }

  @for $i from 1 through 12 {
    &-md-#{$i} {
      @include mq (md) {
        @include make-col($i);
      }
    }
  }

  @for $i from 1 through 12 {
    &-lg-#{$i} {
      @include mq (lg) {
        @include make-col($i);
      }
    }
  }
}

.offset {
  @for $i from 1 through 12 {
    &-#{$i} {
      @include make-col-offset($i);
    }
  }

  @for $i from 1 through 12 {
    &-md-#{$i} {
      @include mq (md) {
        @include make-col-offset($i);
      }
    }
  }

  @for $i from 1 through 12 {
    &-lg-#{$i} {
      @include mq (lg) {
        @include make-col-offset($i);
      }
    }
  }
}
